<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WPFStreamer.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="priorityMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="priorityFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="quality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="qosValue" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
        </WPFStreamer.Properties.Settings>
    </userSettings>
</configuration>